
.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 220px;
  height: 100vh;

  background-color: #24272c;
  color: #fff;

  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  font-weight: bold;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background-color: #24272c;
}
