
.container {
  max-width: 600px;
  margin: 50px auto;
  margin-right: 19rem;
  padding: 30px;
  background-color: #f7f9fc;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #121313;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.form-group input:focus {
  border-color: #27292b;
}

button.submit-btn {
  padding: 12px;
  margin-top: 10px;
  background-color: #212223;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button.submit-btn:hover {
  background-color: #115293;
}
